.appointments-container {
    margin-top: 180px; /* Adjust based on your layout */
    padding: 20px;
    text-align: center;
}

.appointment-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    background-color: #f9f9f9;
}

.btn1 {
    border: 2px solid #3685fb;
    background-color: white;
    color: black;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.btn1:hover {
    background-color: #3685fb;
    color: white;
}
